@page
@model ComaCuras.web.Areas.Panel.Pages.Services.IndexModel

@{
    ViewData["Title"] = "Services";
}

<div class="blurry-bg">
    <h2>Manager Panel</h2>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <partial name="_ManagerNav" view-data='new ViewDataDictionary(this.ViewData)' />
        </div>
        <div class="col-md-10">
            <p>
                <a asp-page="Create">Create New</a>
            </p>
            <table class="table table-responsive-md">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Service[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Service[0].Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Service[0].Cost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Service[0].DiscountRatio)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Service)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountRatio)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>